<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tamplate page</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1> Admin edit password page loading</h1>
    <h2>Click to redirect!!!</h2>
    <a href='/'>click to redirect on Visitrrs home Page</a><br/><br>
     <a href='/admin'>Admin Home</a><br/><br/>
    <a href='/admin/cpadmin'>cpadmin</a><br/><br/>
</body>
</html>