<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tamplate page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>home page loading</h1>
    <h2>Click to redirect!!!</h2>
    <a href='/admin'>click to redirect on Admin's home Page</a><br/><br>
    <a href='/'>Home</a><br/><br/>
    <a href='/about'>About</a><br/><br/>
    <a href='/contact'>Contact</a><br/><br>
    <a href='/service'>Service</a><br/><br/>
    <a href='/register'>Register</a><br/><br/>
    <a href='/login'>Login</a> <br> <br>
    <img src="/images/logo.jpg" alt="Logo" width="200">
    
</body>
</html>